
  .Vi-margin{
    margin: 0px 46px 0px 86px
  }
  .Ma-margin{
    margin: 0px 16px 0px 87px
  }
  .Ed-margin{
    margin: 0px 36px 0px 86px;
  }
  .Mu-margin{
    margin: 0px 11px 0px 87px
  }
  .St-margin{
    margin: 0px 18px 0px 87px;
  }
  p-radioButton{
    margin-left: 10px;
  }