<div class="ui-grid-row">

    <label class="first" class="Vi-margin">Visible :</label>
    <p-radioButton name="groupname" value="val1" label="True" [(ngModel)]="visible"></p-radioButton>
    <p-radioButton name="groupname" value="val11" label="False" [(ngModel)]="visible"></p-radioButton>

    <label class="first" class="Ma-margin">Mandatory :</label>
    <p-radioButton name="groupname" value="val2" label="True" [(ngModel)]="mandatory"></p-radioButton>
    <p-radioButton name="groupname" value="val22" label="False" [(ngModel)]="mandatory"></p-radioButton>

    <label class="first" class="Ed-margin">Editable :</label>
    <p-radioButton name="groupname" value="val3" label="True" [(ngModel)]="editable"></p-radioButton>
    <p-radioButton name="groupname" value="val33" label="False" [(ngModel)]="editable"></p-radioButton>

    <label class="first" class="Mu-margin">MultiChoice :</label>
    <p-radioButton name="groupname" value="val4" label="True" [(ngModel)]="multiChoice"></p-radioButton>
    <p-radioButton name="groupname" value="val44" label="False" [(ngModel)]="multiChoice"></p-radioButton>

    <label class="first" class="St-margin">StaticLabel :</label>
    <p-radioButton name="groupname" value="val5" label="True" [(ngModel)]="staticLabel"></p-radioButton>
    <p-radioButton name="groupname" value="val55" label="False" [(ngModel)]="staticLabel"></p-radioButton>

</div>
